# Archivos de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Archivos compilados
target/
*.class

# Archivos de Maven
.mvn/
mvnw
mvnw.cmd

# Logs
*.log
logs/

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
